html {
    margin: 0;
    padding: 15px;
    height: 100%;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

h1 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

/* Navigation container styles */   

#nav_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#nav_container label {
    font-size: 15px;
}

#nav_container input {
    width: 70px;
    padding: 3px;
}

#nav_container button {
    padding: 5px 10px;
    cursor: pointer;
}

/* FizzBuzz output container styles */

#div_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#div_container > div {
    display: grid;
    place-items: center;

    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    border: 1px solid #aaa;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* FizzBuzz styles */
.fizz {
    background-color: #ffeb3b; /* Yellow */
    color: #000;
}
.buzz {
    background-color: #2196f3; /* Blue */
    color: #fff;
}
.fizzbuzz {
    background-color: #4caf50; /* Green */
    color: #fff;
}
.number {
    background-color: #e0e0e0; /* Light Gray */
    color: #000;
}

/* Error messages */
#error1,
#error2,
#error3 {
    color: red;
    text-emphasis: bold;
    text-align: center;
    font-size: 15px;
    margin: 2px;
}

/* Responsive sizing */

/* Tablet layout */
@media (min-width: 576px) {
    #nav_container {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }       
    #div_container {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Desktop layout */
@media (min-width: 992px) {
    #nav_container {
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    }
    #div_container {
        grid-template-columns: repeat(10, 1fr);
    }
}